// breakpoints
$md: 576px;
$lg: 992px;

// colors
$primary: #7841F4;
$primary-bright: #8658EB;
$primary-dark: #652AE6;
$primary-faded: #DADAED;
$secondary: #1BFEC0;
$bright: #fff;
$dark: #242424;
$text-bright: #333;
$text: #202020;

// text
$font-family: 'Roboto',
sans-serif;
$main-font-size: 14px;
$light-weight: 300;
$medium-weight: 400;
$strong-weight: 500;